---
vm_name: netscanner
vm_os: ubuntu/trusty64

app_name: '{{ vm_name }}'
user_name: '{{ "vagrant" if target == "virtualbox" else app_name }}'
group_name: '{{ user_name }}'

user_home_path: '/home/{{ user_name }}'

path: '{{ user_home_path }}/app'
releases_path: '{{ path }}/releases'
shared_path: '{{ path }}/shared'
current_path: '{{ path }}/current'
environment_file: "{{ path }}/.env"

app_path: '{{ path if target == "virtualbox" else current_path }}'
app_public_path: '{{ app_path }}/public'
app_config_path: '{{ app_path }}/config'
app_temp_path: '{{ app_path }}/tmp'
app_logs_path: '{{ app_path }}/log'

server_name: localhost
server_type: nginx_unicorn

git_branch: master
git_url: git@github.com:crmaxx/netscanner.git

environments:
  - development
  - production
package_bundles:
  - curl
  - graphics
  - qt
packages:
  - curl
  - libcurl3
  - libcurl3-gnutls
  - libcurl4-openssl-dev
  - imagemagick
  - qt5-default
  - libqt5webkit5-dev

ruby_install: package
ruby_user_name: '{{ "root" if ruby_install == "package" else user_name }}'
ruby_version: ruby2.1

rails_version: 4

databases:
  - postgresql
postgresql_orm: activerecord
postgresql_db_name: '{{ app_name }}_{{ rails_env }}'
postgresql_db_user: '{{ app_name }}'
postgresql_db_password: '{{ app_name }}'
postgresql_extensions:
  - hstore

ssl_certificate_path: /etc/nginx/ssl/{{ server_name }}.crt
ssl_certificate_key_path: /etc/nginx/ssl/{{ server_name }}.key

unicorn_sock_path: "/tmp/unicorn.{{ rails_env }}.sock"
unicorn_config_path: "{{ shared_path }}/config/unicorn.{{ rails_env }}.rb"
unicorn_pid_path: "{{ app_temp_path }}/unicorn.{{ rails_env }}.pid"
unicorn_stderr_path: "{{ app_logs_path }}/unicorn.err.log"
unicorn_stdout_path: "{{ app_logs_path }}/unicorn.log"

use_apt_proxy: false
